<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workoutapp">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkoutApp"
        android:alwaysRetainTaskState="true">
        <activity
            android:name=".WorkoutSummary"
            android:exported="true" />
        <activity
            android:name=".WorkoutPlayer"
            android:exported="true"
            android:alwaysRetainTaskState="true"/>
        <activity
            android:name=".WorkoutEditor"
            android:exported="true" />
        <activity
            android:name=".BuildWorkoutActivity"
            android:exported="true" />
        <activity
            android:name=".WorkoutListActivity"
            android:exported="true" />
        <activity
            android:name=".WorkoutActivity"
            android:exported="true" />
        <activity
            android:name=".ProgramActivity"
            android:exported="true" />
        <activity
            android:name=".ProgramEditorActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>